* {margin:0;padding:0;}

body{

    position: relative; 
}

#toTop {
    
    width:100px;
    border: 2px solid #728021;
    background:#f7f7f7;
    text-align:center;
    padding:5px;
    position:fixed;
    bottom:10px; /* отступ кнопки от нижнего края страницы*/
    right:10px;
    cursor:pointer;
    display:none;
    color: #16607B;
    font-family:verdana;
    font-size:11px;
    border-radius: 5px;
}

.container {
    width: 980px !important; 
    padding:0px !important;
}

 body .b-header, body .b-footer {

    background-color: #2883A3;
    padding:0; 
}

/*div .b-karusel{
  padding-top: 50px; 
}*/


ul.nav p.magicLi{

    color: white; 
      text-align: center;
  padding: 10px 20px;
}
div .row{

    margin-left:0;
    margin-right:0;
}

.b-school-title{

    padding: 0px 65px!important; 
}

div .b-top-menu-2 ul li{

    height: 50px;
}

div .b-top-menu-2 ul li a {

      padding: 15px 15px;
      border-radius: 0px; 
}

.b-footer {
    position: absolute!important; 
    bottom: 0!important; 
    left: 0!important; 
    right: 0!important; 
}

.b-top-menu-0{

    padding:0px !important; 
}

.b-top-menu-1{

    padding:0 !important; 
}

.b-top-menu-2{

    padding:0 !important; 
}

.row .navbar-fixed-top {

    border-width: 0 ; 
}

div .b-top-menu-0 .b-navbar-topmenu{

    border:0px;

    border-radius: 0; 
    width: 980px; 
    margin: 0 auto; 
}

div .row .b-left-menu{

    background-color: #728021!important; 
    padding-right: 0px!important; 
    padding-left: 0 !important; 
      margin-bottom: 100px;
}

.container .row .b-content {

    margin-bottom: 100px;
    padding-left:30px;
}

div .b-content .page_content  h1 {
    
    font-size:25px;
    color:#000;
    margin:20px 0px ;
}

div .b-top-menu-1 .sosh{

    background-color: #728021;
}

.b-top-menu-1 .sosh a{

    color: #F7F3F3;
}

div .b-top-menu-0 .b-top-menu-1 a{

    color: #F7F3F3;
}

.b-top-menu-2 ul li {

      background-color: #2883A3;
}

div .b-left-menu ul li a{

    color: #F7F3F3; 
}

.b-top-menu-2 ul.nav-pills>li.active>a {

    background-color: #80B0DA !important; 
    color: #FFF;
}

.b-top-menu-2 ul.nav-pills>li.active>a:hover, .sosh a:hover{

    color: #FFF!important; 
}

.b-top-menu-2 ul.nav-pills>li>a:hover {

    color: #1D5586 !important; 
}

/* Отображаем выпадающее меню при наведении */
ul.nav li.dropdown:hover > ul.dropdown-menu {     
    display: block; 
}
/* Примыкаем его вплотную к полоске меню*/
.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {     
    margin-top: 0; 
}
/* Убираем верхний уголок в выпадающем меню Bootstrap-а */ 
.navbar .nav > li > .dropdown-menu:after, .navbar .nav > li > .dropdown-menu:before { 
    content:none;
}
/* Обеспечиваем нормальную работу выпадающего меню на гаджетах */ 
ul.nav li.dropdown:hover > ul.dropdown-menu>li>a { 
    position: relative; 
    z-index: 1000; 
}


div .b-left-menu .nav-pills>li>a {

  border-radius: 0px; 
}

div .b-left-menu .nav-pills>li>a:hover {

      background-color: rgb(190, 203, 111);

    color: #111;
}

div .b-left-menu .nav-pills>li .podmenu {

  border-radius: 0px; 
  border: 0px;

    border-left: 1px solid #728021;
}

div .b-left-menu .nav-pills>li .podmenu  {

    padding:0px;
}

div .b-left-menu .nav-pills>li .podmenu li a{

    color: #111;
    padding: 10px 20px;
}

div .b-left-menu .nav-pills>li .podmenu li a:hover{

    background-color: rgb(190, 203, 111); /*rgb(158, 176, 55);*/
}

@media (max-width: 768px) {

    div .b-top-menu-0 .b-navbar-topmenu{

        border-radius: 0; 
        border:0px;
        width:700px; 
        margin: 0 auto; 
    }

    div .b-karusel{
        display: none;
        /*visibility: collapse;*/
        padding-top: 0px; 
    }

    .b-header-min, .niz{

        background-color: #2883A3;
    }

    .b-top-menu-2 .nav-pills>li+li {

        margin-left: 0px; 
    }

    div .b-top-menu-1 .sosh {

        padding:0px;
        margin-left: 0px;
        margin-right: 0px;
    }

} 

div.niz p{

      padding-top: 10px;
  color: #111;
  font-size: 12px;
}

.qestion-answer{

     margin: 20px 10px;
     padding-bottom:5px;
     border-bottom: 1px solid gray;
}

.tree {

    margin-top: 50px;

    margin-bottom: 50px;
}

.tree .mainPage{

      margin: 10px;
}

.tree .subPage{

    list-style-type: none;

    padding-left:30px;
}

.answeradmin{
    
    padding-top:5px;

}

.warning {

    color : red;
}

.top_menu {

	background: #C9CBC6;
    padding: 20px;
    font-size: 18px;
}

.top_menu a{

	margin-right: 10px;
}

.mainHeader{

	height:100px;
	background-color: #50693E;
}

.left-menu{

	background-color: #CAD8C0;
	width:200px;
	padding-left: 20px;
	display: inline-block;
    vertical-align: top;
}

.page_content{


	display: inline-block;
	vertical-align: top;
	width: 670px;
}

.main-footer{
	position: fixed;
	bottom: 0;
	width: 960px;
	background-color: #7B8077;
	padding-top: 20px;
	padding-bottom: 20px;
}


 #container {

    margin: auto;
	width: 540px;
	background: #FFFFFF;
	text-align: left; 
}
 #mainContent {
    
    padding: 10px;
	background: #C4D1E5;
	position: relative;
}
 #footer {
	padding: 0 10px;
	background:#DDDDDD;
}
 #footer p {
	margin: 0;
	padding: 10px 0;
}


form.form{
    width: 600px;
    margin: 0 auto;
}

form.form div {
    padding:4px;
    margin: 4px 0;
    position:relative;
}

form.form input.text,
.textarea {
    padding:5px 10px;
    height:20px;
    border:1px solid #6688D3;
    color:#333;
    background:url(images/bginput.jpg) repeat-x bottom #fff;
    position:relative;
   
    font-size: 12px;
}

form.form input.text {
    width:290px;
}

form.form input.kaptch {
    width:85px;
    padding:5px 10px;
    height:20px;
    border:1px solid #6688D3;
    color:#333;
   
    position:relative;
    
    font-size: 12px;
 }

form.form .textarea {
    height:150px;
    width:290px;
}

form.form label {
    float:left;

    width:120px;
    text-align:right;
    margin-right:15px;
    font-size: 13px;
}

form.form .btn {

    display:block;
    height:31px;
    padding:0 10px;
    background-color: rgb(186, 189, 194);
    font-weight:bold;
    font-size:12px;
    border:1px solid rgb(186, 189, 194);
    outline:none;
    cursor: pointer;

}

form.form .btn:hover{

     border:1px solid #6688D3;
}

/* CSS3 
form.form .btn,
form.form .text,
form.form .textarea { 
-moz-border-radius:8px;
-webkit-border-radius:8px;
border-radius:8px;
}*/


div.error_field{
   /* background: #FEDAFB;
    border: 1px solid #FA74F0;*/
}

div.errors{
    width: 450px;
    margin: 10px auto;
    padding: 10px;
    border: 1px solid #ccc;
    background: #FDFEC2;
}

div.errors .error{
    color: red;
    font-weight: bold;
    font-size: 12px;
    margin: 5px;
}




